<div id="<%= dom_id entry %>">
  <h5><%= entry.occurred_at.to_fs(:weekday_and_date) %></h5>
  
  <% if entry.symptoms.any? %>
    <p>
      <strong>Symptoms:</strong>
      <%= entry.symptoms.map(&:name).join(", ") %>
    </p>
  <% end %>

  <p><%= entry.body %></p>

</div>
