<p style="color: green"><%= notice %></p>

<h1>Entries</h1>
<%= link_to "New entry", new_entry_path %>

<div id="entries">
  <% @entries.each do |entry| %>
    <hr>
    <%= render entry %>
  <% end %>
</div>

